.each-campground {
    margin-bottom: 30px;
}

.thumbnail img {
    width: 100%;
    height: 62%;
}

.thumbnail {
    padding: 0;
    height:100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.each-comment {
    padding-top: 8px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.profile-campgrounds {
    width: 100%;
}

.profile-campgrounds h3 {
    margin-left: 15px;
}

.profile-each-campground {
    width: 20%;
}

.profile-each-campground img {
    height: 150px !important;
}